.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.formgroups{
    width: 700px;
    height: auto;
    display: flex;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 20px 15px;
}
.formleft{
    flex:1;
    display: flex;
    flex-direction: column;
  justify-content: center;
}
.formright
{
    
    flex: 1;
}
.formsubTittle{
    font-size: 20px;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
}
.formtittle{
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 40px;

}
.formgroup{
    margin-bottom: 20px;
}
.formgroup input{
    height: 40px;
    border: none;
    outline: none;
    padding: 0 10px;
    width: 100%;
    border-radius: 10px;
}
.form-btnLogin button{
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: rgb(87, 111, 191);
    color: whitesmoke;
    border-radius: 10px;
    transition: all 0.5s;
    font-size: 18px;
    letter-spacing: 1.3px;

}
.form-btnLogin button:hover{
background-color: whitesmoke;
color: rgb(87, 111, 191); ;
}
.form-btnRegister{
    margin-top: 80px;
}
.form-btnRegister button{
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: rgb(102, 209, 145);
    color: whitesmoke;
    border-radius: 10px;
    transition: all 0.5s;
    font-size: 18px;
    letter-spacing: 1.3px;

}
.form-btnRegister button:hover{
background-color: whitesmoke;
color:  rgb(102, 209, 145) ;
}