.nsap{
    background-color: white;
    margin: 40px 15px;
    padding: 30px 15px;
    border-radius: 20px;
    width: 700px;
}


.nsapuserimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}
.nsapcardheader{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nsapcardheaderleft{
    display: flex;
    align-items: center;
}
.nsapcardheaderleft .postinfo{
    display: flex;
    flex-direction: column;
}
.nsapuserName{
    font-weight: bold;
}
.nsapDate{
    font-size: 12px;
}
.nsapcardheaderright svg{
    cursor: pointer;
    font-size: 20px;
}
.nsapcardbody{
    padding: 15px 0;

}
.nsapText{
    margin-bottom: 5px;
}
.nsapimg{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}
.nsapcardfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nsapcardfooterleft{
    display: flex;

}
.nsapcardfooterleft img{
    width: 25px;
    height:auto;
    cursor: pointer;
    margin-right: 10px;
}
.nsapcounter , .nsapcommends{
    font-weight: bold;
    font-size: 14px;
}